main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minimax(200px, 1fr));
}

body {
	background: lightgray;
}

/* Classes */
.case-study { 
	/* make these hideable */
}

.boxes {
  padding: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  color: rgb(156, 156, 156);
}

/* Grid fallback*/
.grid__item {
  /* display: inline-block; */
  /* width: 50%; */
  background-color: white;
  text-align: center;
}

.grid__item:hover, .grid__item:active {
  /* add on hover, red line + change font color + make case study button div appear */
  color: brown;
  border-top: solid;
  border-color: red;
  background-color: white;
  padding: 10px;
  width: auto;
}

.grid__item .grid__text {
  /* display: none; */
  visibility: hidden;
}

.grid__text {
  color: darkslategray;
}

.grid__item:hover .grid__text, .grid__item:active .grid__text {
  /* display: grid; */
  visibility: visible;
}

 .header {
	background-image: url("../img/header.png")
}

.header__text {

}

.header__title {

}

.logo {
    margin-right: auto;
}

.tabs {
  display: flex;
}