/* Globals */

body {
  padding-bottom: 5rem;
  margin: 0;
  background: lightgray;
  font-family: helvetica, arial, sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  /* font smoothing */
}

a {
  text-decoration: none;
  color: tan
}

/* General */

.header {
 background-image: url("../img/header.png")
}

.logo {
    margin-right: auto;
}

.tabs {
  display: flex;
}

.container {
  max-width: 1134px;
  padding: 0 2rem;
  margin: 0 auto;
}

.boxes {
  margin-top: 3.125rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2.375rem;
  color: rgb(156, 156, 156);
}

.box {
  padding: 1.75rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
}

.box__title {
  text-transform: uppercase;
}

.box__subtitle {
  text-transform: uppercase;
  color: black;
}

.box__button {

}

.btn {
  background-color: black;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: .875rem;
  padding: 1.0625rem;
  transition: all .15s ease-in-out;
}