/* alphabetical order? */

/* test nav CSS */
/*
a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

.menu_container {
	display: flex;
	padding: 20px;
	background-color: #1c1808;
	font-family: cursive;
	font-weight: 300;
	color: white;
}

.menu_item {
	flex: 1;
}

.menu_container .menu_item nav ul {
	display: flex;
}

.menu_container .menu_item nav ul li a {
	color: white;
	padding: 21px 37px;
	border-radius: 3px;
}

.menu_container .menu_item nav ul li a:hover {
	background-color: #becccf;
	color: #1c1808;
}
*/

/* Not working!!! */
main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minimax(200px, 1fr));
}

body {
	background: gray;
}

/* Classes */
.case-study { 
	/* make these hideable */
}

.boxes {
  padding: 50px;
}

/* Grid fallback*/
.grid__item {
  display: inline-block;
  width: 50%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /*add 1 more fr as needed*/
  grid-gap: 20px;
}

.grid__item {
	/* on hover, red line + change font color + make case study button div appear */
  background-color: LightGrey;
  padding: 10px;
  /* Set width to auto*/
  width: auto;
}


 .header__wrapper {

}

.header__text {

}

.header__title {

}

.logo {
    margin-right: auto;
}

.tabs {
  display: flex;
}